.currency_list {
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding: 0;
}
.title {
  font-size: 42px;
  text-align: center;
}

.subtitle {
  text-align: center;
}
